{% extends "layout.html" %}
{% block body %}
	<form action="{{ url_for('add_entry') }}" method="post">
		<label for="title">Title</label>
		<input type="text" size="50" name="title" /><br />
		<label for="text">Text</label>
		<textarea name="text" rows="5" cols="40"></textarea><br />
		<input type="submit" value="Save" />
	</form>
	<ul>
	{% for entry in entries %}
		<li>
			<h2>{{ entry.title }}</h2>
			<p>{{ entry.text }}</p>
		</li>
	{% else %}
		<p><em>No entries at this time.</em></p>
	{% endfor %}
	</ul>
{% endblock %}
