{% extends "layout.html" %}
{% block body %}
	<form action="{{ url_for('add_entry') }}" method="post">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" size="50" name="title" class="form-control" placeholder="Title" />
		</div>
		<div class="form-group">
			<label for="text">Text</label>
			<textarea name="text" class="form-control"></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Save</button>
	</form>
	<ul>
	{% for entry in entries %}
		<li>
			<h2>{{ entry.title }}</h2>
			<p>{{ entry.text }}</p>
		</li>
	{% else %}
		<p><em>No entries at this time.</em></p>
	{% endfor %}
	</ul>
{% endblock %}
